* {
  box-sizing: border-box;
}
html {
  height: 100%;
  background: linear-gradient(#19324b, #060c18) fixed no-repeat;
}
div.container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
div#header {
  align-items: flex-end;
}
div#header div:last-child {
  margin-left: auto;
}
div#site-logo {
  order: 1;
}
div#navbar {
  order: 2;
  display: none;
  margin-left: 25px;
  margin-right: -20px;
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
  border-top: 1px rgba(128,255,192,0.75) solid;
}
div#navbar p {
  display: inline;
}
div#navbar p a {
  font-weight: bold;
  color: #80ffc0;
}
div#user-cp {
  order: 3;
  margin-left: 25px;
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
}
div#user-info {
  display: none;
}
div#notification-box {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #060c18;
  border: 1px #2e5b89 solid;
}
div#notification-box p:nth-child(even) {
  background-color: #0b162b;
}
div#notification-box p a {
  color: #40c0ff;
}
div#error-box {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
div#main-content {
  display: none;
  padding-top: 10px;
  min-height: calc(100vh - 100px);
  background-color: rgba(0,0,0,0.25);
}
div#main-content div {
  margin-bottom: 5px;
}
div#users-list-container {
  order: 1;
  display: flex;
  flex-direction: column;
}
div#users-list-box {
  order: 1;
  padding: 10px;
  width: 200px;
  background-color: rgba(0,0,0,0.25);
}
div#bot-list-box {
  order: 2;
  padding: 10px;
  width: 200px;
  background-color: rgba(0,0,0,0.25);
}
div#match-history {
  order: 2;
  display: none;
  margin-left: 5px;
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
}
div#ai {
  order: 3;
  display: none;
  margin-left: 5px;
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
}
div#new-match {
  order: 4;
  display: none;
  margin-left: 5px;
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
}
div#match-info {
  order: 5;
  display: none;
  margin-left: 5px;
  padding: 10px;
  min-width: 300px;
  background-color: rgba(0,0,0,0.25);
}
div#game-container {
  order: 6;
  display: none;
  margin-left: 10px;
}
table {
  border-collapse: collapse;
}
tr:nth-child(even) {
  background: rgba(0,0,0,0.2);
}
tr.header {
  background: rgba(0,0,0,0.5);
}
td {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
h1 {
  margin: 0;
  margin-left: 25px;
  font: 35pt Candara;
  color: #6598cc;
  text-shadow: 0 0 5px #336598;
}
h2 {
  margin: 0;
  margin-bottom: 10px;
  font: 15pt Candara;
  color: #80ffc0;
}
h2#logging-in-message {
  order: 4;
  display: none;
  margin-left: 20px;
}
p {
  margin: 0;
  font: 10px Verdana;
  color: #fff;
}
p.heading {
  margin-bottom: 3px;
  padding-bottom: 1px;
  font-weight: bold;
  border-bottom: 1px #6598cc dashed;
}
p#error-message {
  padding: 10px;
  background-color: rgba(255,0,0,0.25);
  color: #ff8080;
}
p#match-time {
  font-weight: bold;
}
p.notification-message {
  padding: 10px;
}
span#username-display {
  font-weight: bold;
}
.subdued {
  color: rgba(255,255,255,0.5);
}
.subdued-2 {
  color: rgba(64,192,255,0.25);
}
.highlight {
  color: #ffc080;
}
.highlight-red {
  color: #ff8080;
}
.highlight-green {
  color: #80ffc0;
}
a {
  text-decoration: none;
  color: #8080ff;
}
a:hover {
  text-decoration: underline;
}
label {
  display: block;
  font: 10px Verdana;
  color: rgba(255,255,255,0.5);
}
input,
textarea {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(0,0,0,0.25);
  border: none;
  font: 10px Verdana;
  color: #fff;
}
textarea {
  font: 11px Consolas;
}
input:hover,
textarea:hover {
  background: rgba(0,0,0,0.5);
}
textarea {
  width: 400px;
  height: 150px;
}
input[type='submit'] {
  cursor: pointer;
}
input.btn-large {
  margin-top: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px rgba(255,255,255,0.5) solid;
}
input.btn-large:hover {
  background-color: rgba(255,192,128,0.1);
  border: 1px #ffc080 solid;
}
input#set-board-size,
input#ai-name,
textarea#set-pieces {
  margin-bottom: 5px;
}
div#ai-code {
  width: 1000px;
  height: 700px;
  font: 11px Consolas;
}
