html {
  height: 100%;
  background: linear-gradient(#19324b, #060c18) fixed no-repeat;
}
div.container {
  display: flex;
  align-items: flex-end;
}
div#header div:last-child {
  margin-left: auto;
}
div#site-logo {
  order: 1;
}
div#user-cp {
  order: 2;
  margin-left: 25px;
  padding: 10px;
  background-color: rgba(0,0,0,0.25);
}
div#user-info {
  display: none;
}
div#error-box {
  order: 3;
  display: none;
}
div#main-content {
  display: none;
  padding-top: 10px;
  min-height: calc(100vh - 100px);
  background-color: rgba(0,0,0,0.25);
}
div#users-list-box {
  order: 1;
  padding: 10px;
  width: 200px;
  background-color: rgba(0,0,0,0.25);
}
h1 {
  margin: 0;
  margin-left: 25px;
  font: 35pt Candara;
  color: #6598cc;
  text-shadow: 0 0 5px #336598;
}
p {
  margin: 0;
  font: 10px Verdana;
  color: #fff;
}
p.heading {
  margin-bottom: 3px;
  padding-bottom: 1px;
  font-weight: bold;
  border-bottom: 1px #6598cc dashed;
}
p#error-message {
  padding: 5px;
  background-color: rgba(255,0,0,0.25);
  color: #ff8080;
}
span#username-display {
  font-weight: bold;
}
.subdued {
  color: rgba(255,255,255,0.5);
}
a {
  text-decoration: none;
  color: #8080ff;
}
a:hover {
  text-decoration: underline;
}
label {
  display: block;
  font: 10px Verdana;
  color: rgba(255,255,255,0.5);
}
input {
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  background: rgba(0,0,0,0.25);
  border: none;
  font: 10px Verdana;
  color: #fff;
}
input:hover {
  background: rgba(0,0,0,0.5);
}
input[type='submit'] {
  cursor: pointer;
}
