// ========================================================================= //
// *                                                                Colours //
// ========================================================================//
clr-blue-grey-1 = rgb(25, 50, 75)
clr-blue-grey-2 = rgb( 6, 12, 24)

clr-text         = white
clr-text-subdued = alpha(clr-text, .5)
clr-error        = rgb(255, 128, 128)
clr-error-bg     = rgba(255, 0, 0, .25)

clr-input-bg       = rgba(0, 0, 0, .25)
clr-input-bg-hover = rgba(0, 0, 0,  .5)


// ========================================================================= //
// *                                                                General //
// ========================================================================//
html
  height 100%
  background linear-gradient(clr-blue-grey-1, clr-blue-grey-2) fixed no-repeat

div.container
  display flex
  align-items flex-start

div.container div:last-child
  margin-left auto

div#site-logo
  order 1

div#user-cp
  order 2

  margin-left 50px
  padding 10px
  vertical-align bottom

  background-color darken(clr-blue-grey-1, 20%)

div#user-info
  display none

div#error-box
  order 3
  display none


// ========================================================================= //
// *                                                                   Text //
// ========================================================================//
h1
  margin 0

  font 30pt Candara
  color lighten(clr-blue-grey-1, 50%)

p
  margin 0

  font 10px Verdana
  color clr-text

p#error-message
  padding 5px

  background-color clr-error-bg
  color            clr-error

span#username-display
  font-weight bold

.subdued
  color clr-text-subdued

label
  display block

  font 10px Verdana
  color clr-text-subdued


// ========================================================================= //
// *                                                                  Forms //
// ========================================================================//
input
  padding       3px
  padding-left  5px
  padding-right 5px

  background clr-input-bg
  border none

  font 10px Verdana
  color clr-text

input:hover
  background clr-input-bg-hover

input[type='submit']
  cursor pointer
