// ========================================================================= //
// *                                                                Colours //
// ========================================================================//
clr-blue-grey-1 = rgb(25, 50, 75)
clr-blue-grey-2 = rgb( 6, 12, 24)
clr-bg-darken   = rgba(0, 0, 0, .25)

clr-text           = white
clr-text-subdued   = alpha(clr-text, .5)
clr-text-highlight = rgb(255, 192, 128)
clr-error          = rgb(255, 128, 128)
clr-error-bg       = rgba(255, 0, 0, .25)
clr-link           = rgb(128, 128, 255);
clr-link-2         = rgb(128, 255, 192);
clr-link-3         = rgb( 64, 192, 255);

clr-input-bg       = rgba(0, 0, 0, .25)
clr-input-bg-hover = rgba(0, 0, 0,  .5)


// ========================================================================= //
// *                                                                General //
// ========================================================================//
*
  box-sizing border-box

html
  height 100%
  background linear-gradient(clr-blue-grey-1, clr-blue-grey-2) fixed no-repeat

div.container
  display flex
  align-items flex-start

// Header divs
div#header
  align-items flex-end

div#header div:last-child
  margin-left auto

div#site-logo
  order 1

div#navbar
  order 2
  display none

  margin-left 25px
  margin-right -20px
  padding 10px

  background-color clr-bg-darken
  border-top 1px alpha(clr-link-2, .75) solid

div#navbar p a
  font-weight bold
  color clr-link-2

div#user-cp
  order 3

  margin-left 25px
  padding 10px

  background-color clr-bg-darken

div#user-info
  display none

div#notification-box
  display none
  position absolute
  top   10px
  right 10px

div#notification-box p a
  color clr-link-3

div#error-box
  display none
  position absolute
  top   10px
  right 10px

// Main Content divs
div#main-content
  display none

  padding-top 10px
  min-height calc(100vh - 100px)

  background-color clr-bg-darken

div#users-list-box
  order 1

  padding 10px
  width 200px

  background-color clr-bg-darken

div#new-match
  order 2
  display none

  margin-left 5px
  padding 10px

  background-color clr-bg-darken

div#match-info
  order 3
  display none

  margin-left 5px
  padding 10px

  background-color clr-bg-darken

div#game-container
  order 4
  display none

  margin-left 10px


// ========================================================================= //
// *                                                                   Text //
// ========================================================================//
h1
  margin 0
  margin-left 25px

  font 35pt Candara
  color lighten(clr-blue-grey-1, 50%)

  text-shadow 0 0 5px lighten(clr-blue-grey-1, 25%)

h2
  margin 0
  margin-bottom 10px

  font 15pt Candara
  color clr-link-2

p
  margin 0

  font 10px Verdana
  color clr-text

p.heading
  margin-bottom  3px
  padding-bottom 1px

  font-weight bold
  border-bottom 1px lighten(clr-blue-grey-1, 50%) dashed

p#error-message
  padding 10px

  background-color clr-error-bg
  color            clr-error

p#notification-message
  padding 10px
  background-color clr-bg-darken

span#username-display
  font-weight bold

.subdued
  color clr-text-subdued

.highlight
  color clr-text-highlight

.highlight-red
  color clr-error

a
  text-decoration none
  color clr-link

a:hover
  text-decoration underline

label
  display block

  font 10px Verdana
  color clr-text-subdued


// ========================================================================= //
// *                                                                  Forms //
// ========================================================================//
input
  padding       3px
  padding-left  5px
  padding-right 5px

  background clr-input-bg
  border none

  font 10px Verdana
  color clr-text

input:hover
  background clr-input-bg-hover

input[type='submit']
  cursor pointer

input.btn-large
  margin-top 5px

  padding       5px
  padding-left  20px
  padding-right 20px

  border 1px clr-text-subdued solid

input.btn-large:hover
  background-color alpha(clr-text-highlight, .1)
  border 1px clr-text-highlight solid
