html {
  height: 100%;
  background: linear-gradient(#19324b, #060c18) fixed no-repeat;
}
div.container {
  display: flex;
  align-items: center;
}
div.container div:last-child {
  margin-left: auto;
}
div#site-logo {
  order: 1;
}
div#user-cp {
  order: 2;
  padding-left: 50px;
  vertical-align: bottom;
}
div#error-box {
  order: 3;
  display: none;
}
h1 {
  margin: 0;
  font: 30pt Candara;
  color: #6598cc;
}
p {
  font: 8pt Verdana;
  color: #fff;
}
p#error-message {
  padding: 5px;
  background-color: rgba(255,0,0,0.25);
  color: #ff8080;
}
label {
  display: block;
  font: 8pt Verdana;
  color: rgba(255,255,255,0.5);
}
input {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgba(0,0,0,0.25);
  border: none;
  font: 8pt Verdana;
  color: #fff;
}
input:hover {
  background: rgba(0,0,0,0.5);
}
input[type='submit'] {
  cursor: pointer;
}
